/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){

    .nav{
        height: 50px;
     
        
    }
    .logo{
    margin:0px 0px 0px 10px;
   }
    .logo h1{
        font-size: 1rem;
    }

    .menu{
        margin-top:5px;
    }

    .menu ul li:not(:last-child){
        margin-right: 10px;
    }
    .menu ul li:last-child{
        margin-right: 5px;
    }
    .menu ul li a{
        font-size: 0.5rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){}